body{
    font-family:"Clarkson",Helvetica,sans-serif;sans-serif;
}

#main{
width: 100vw;
height: 100vh;

box-sizing:  border-box;
background-image: url(https://images.squarespace-cdn.com/content/v1/5facb16eef712f1012f99709/1611508713894-FYPE4U90UR5S6UIN0EQX/beautiful+desert+with+the+moon+above);
background-repeat: no-repeat;
background-size: cover;
background-position:center ;
position: relative;
}

#main::after{
    content: normal;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;     /* maindeki en ve uzulugu oldugu kimi tetbiq edilir  */
    height: 100%;    
    background-color: rgba( 0, 0, 0, 0.5); /* arxa fonu seffafligin +- etmek ucun*/
}

.main-navbar{
    padding: 50px 0px;
    border:0px;
    position: relative;
    z-index: 2;
}

img{
    max-width: 80%;
    height: 60px;
    padding-left: 30px;
    color: white;
    
}

.main-navbar-products ul{
    display: flex;
    justify-content:space-evenly;
    
}

.main-navbar-products ul li a{

    color: white;
    text-decoration: none;
    font-family:"Clarkson",Helvetica,sans-serif;sans-serif;

}
.main-navbar-products ul li a:hover:first-child{

   background-color:  black;
   padding: 15px 25px;
}

.main-navbar-user ul{
    display: flex;
    justify-content:space-evenly;
    
}

.main-navbar-user ul li a{
    
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family:"Clarkson",Helvetica,sans-serif;sans-serif;
    font-weight: 0,600;
}

.main-navbar-user ul li:last-child a{
    background-color: whitesmoke;
    padding: 15px 20px;
}

/*-  2-ci hissesi-*/

.main-middle{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
}

.main-middle-page{
    border: 1px solid red;
    height: 487px;
    position: relative;
    z-index: 3;
}

.main-middle-page-mark{
    width: 100%;
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 4em;
    transform: translate(0%);
    padding: 0px 100px;
    
}
.main-middle-page-mark a {
    background-color: white;
    color: palevioletred;
    
}
.main-middle-page-content{
    width: 40%;
    position: absolute;
    top: 5%;
    left: 2%;
    text-align: left;

}
.main-middle-page-content h1{
    font-size: 4em;
    font-weight: 0,400;
    color: white;
}

.main-middle-page-content p{
    font-size: 1.5em;
    font-weight: 0,400;
    color:whitesmoke;
    line-height: normal;
}

.btn{
    transform: translate(40%);
    top: 25px;
    left: 80%;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    background:transparent;
    color:white;
    text-decoration: none;

}